.galerija{
	padding: 20px 0;
	background-color: #eaeaea ;
	overflow:hidden;
	
}

.slika1 {
	float:left;
	width: 31%;
	margin:0 1%;
	text-align:center;
	font-size: 25px;
	color:red;
}
.slika1 img{margin: 0 auto;}

@media only screen and (max-width:850px) {
	.slika1 {width:50%; margin: 0 ;}
	
}

@media only screen and (max-width:620px) {
	.slika1 {width:100%;}
	
}

