.kontakt {
    text-align: center;
    background-color: #eaeaea;
    padding: 30px 0;
}

.kontakt h2 {
    color: orange;
}

.kontakt input {
    padding: 10px 0;
    border-radius: 8px;
}

.kontakt textarea {
    height: 250px;
    width: 300px;
    border-radius: 8px;
}

input[type='text'],
input[type='email'] {
    width: 300px;
}

input[type='text']:focus,
input[type='email']:focus,
textarea:focus {
    background-color: lightblue;
}

.kontakt input[type="submit"] {
    height: 50px;
    width: 100px;
}

#map {
    height: 400px;
    width: 100%;
}