.tim{background-image: url("slike/ekipa.png");
height:70vh; 
background-size:cover;
background-position: top center;}

.tekst2 {text-align:center;
padding: 20px 0;
background-color:#eaeaea;
}

.tekst2 p {padding:10px 0;
font-size: 15px;
}




